#paul{
	color: red;
	width: 100px;
	display: block;
	border: 1px solid red;
}

.btnTest{
	display: block;
	border-radius: 5px;
	border: 1px solid blue;
	margin: auto;
	padding: 10px;
	width: 80px;
	height: 15px;
	text-align: center;
}